/*FONTS<<____________________________________________________________________________________*/

/* ICONS<<-------------------------------------------------- */
/* Material */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('../fonts/MaterialIcons-Regular.woff2') format('woff2'),
         url('../fonts/MaterialIcons-Regular.woff') format('woff'),
         url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
  }
  [class*='icon-']:before{
    display: inline-block;
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
   /* Support for all WebKit browsers. */
   -webkit-font-smoothing: antialiased;
   /* Support for Safari and Chrome. */
   text-rendering: optimizeLegibility;
   /* Support for Firefox. */
   -moz-osx-font-smoothing: grayscale;
   /* Support for IE. */
   font-feature-settings: 'liga';
  }
  .icon-search:before{content:'\e8b6';}
  
 
  
  /* font types */
  .fontNorm     {   font-weight: 400;       }
  .fontBold     {   font-weight: 700;       }
  /* font sizes */
  .fSize60      {   font-size:   3.75rem    }
  .fSize36      {   font-size:   1.4rem    }
  .fSize20      {   font-size:   0.9rem    }
  .fSize17      {   font-size:   1.06rem    }

  /* font positioning */
  .TXTcenter{text-align: center;}
  .TXTleft{text-align: left;}
  .TXTjustif{text-align: justify;}
  .TXTlineL{line-height: 1.88rem;}
  /*FONTS>>___________________________________________________________________________________*/
  
/*COLORVALUES<<___________________________________________________________________________________*/
:root{
    --Col_Primary           : #FF8400;
    --Col_PrimaryAlpha      : rgba(255, 132, 0, 0.1);
    --Col_Black             : #2E2E2E;
    --Col_Gray              : #5E5E5E;
    --Shadow_Or             :0px 14px 21px rgba(255, 132, 0, 0.22);
    --Shadow_Hover          :7px 0px 27px rgba(0, 0, 0, 0.1);

}
/* classes background */
.BCKsec         {   background-color: var(--Col_Secondary);     }
.BCKsecDark     {   background-color: var(--Col_SecondaryDark); }
.BCKgrayLight   {   background-color: var(--Col_GrayLight);     }
.BCKprim        {   background-color: var(--Col_Primary);       }
.BCKprimAlpha   {   background-color: var(--Col_PrimaryAlpha);  }
.BCKgrad {background-image: linear-gradient(-45deg,#1C4689,#09234B);}

/* classes text */
.TXTgray        {   color: var(--Col_Gray);     }
.TXTprim        {   color: var(--Col_Primary);  }
.TXTwhite       {   color:white;              }

/*FLEX<<____________________________________________________________________________________*/
.flexSideSide{display: flex; justify-content: space-between; align-items: center;}

/*FLEX>>____________________________________________________________________________________*/

/* generic */
html{font-size: 16px;}
body{
    margin:             0px;
    font-family:        'Rubik', sans-serif;
    font-size:          1rem;
    color:              white;
    font-weight:        normal;
    min-height:         100vh;
    background-color: #FCFCFC;
}
a   {text-decoration    : none; color: white;   }
ul  {padding-left       : 0px;                    }
li  {list-style         : none;                   }
h1,h2{
font-weight: 500;
color: var(--Col_Black);
}

/*Navbar <<____________________________________________________________________________________*/
#navBar{height: 113px;border-bottom: 1px solid white;}
#logo{
    background-image    :   url("img/Logo.svg");
    width:78px; height  :   26px;
    background-repeat   :   no-repeat;
    background-size     :   contain;
    flex: 0 20%;
    display: block;
}
#logoLarge{
    background-image    :   url("img/Logo.svg");
    width:312px; height  :   104px;
    background-repeat   :   no-repeat;
    background-size     :   contain;
    display: none;
}
menu{flex: 0 80%; max-width: 610px;}
menu li{padding-bottom: 4px; list-style: none;}
menu li a:hover{color: var(--Col_Primary);}
/*NAvbar >>____________________________________________________________________________________*/

/* MAIN_______________________________________________________________________________________ */
.blockbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px 30px;
    flex: 0 25%;
    margin: 15px 0px;
}

.block:hover{
    box-shadow: var(--Shadow_Hover);
}
/* Icons  */
.icone{
    width:  70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: var(--Shadow_Hover);
}
.block:hover>.icone{
    background-color: var(--Col_Primary);
    box-shadow: var(--Shadow_Or);
}
.icone1{background-image: url(img/iconOr1.png);}
.block:hover>.icone1{background-image: url(img/icon1.png);}
.icone2{background-image: url(img/iconOr2.png);}
.block:hover>.icone2{background-image: url(img/icon2.png);}
.icone3{background-image: url(img/iconOr3.png);}
.block:hover>.icone3{background-image: url(img/icon3.png);}
.icone4{background-image: url(img/iconOr4.png);}
.block:hover>.icone4{background-image: url(img/icon4.png);}
.icone5{background-image: url(img/iconOr5.png);}
.block:hover>.icone5{background-image: url(img/icon5.png);}
.icone6{background-image: url(img/iconOr6.png);}
.block:hover>.icone6{background-image: url(img/icon6.png);}

/* Adjusts  */
main>section:first-child {display: flex; flex-direction: column;align-items: center;}
main>section:first-child p{max-width: 771px;}
#hook{display: flex; flex-direction: column;align-items: center; justify-content:center; min-height:470px;}
#hook>p:nth-child(2){margin: 0px 0px 15px 0px;}
#hook>p:nth-child(3){margin-top: 0px;}
h1{margin-bottom: 10px;}


/* RESPONSIVE_________________________________________________________________________*/

/* XL ________________________________________________________________________________*/
.container{margin: 0 auto; max-width: 1230px;}

/* L _________________________________________________________________________________*/
@media (max-width: 1199.98px) {

    .container{  margin: 0px 5vw;   }

}

/* M _________________________________________________________________________________*/
@media (max-width: 991.98px) {

    .container{  margin: 0px 3vw;   }
}

/* S _________________________________________________________________________________*/
@media (max-width: 767.98px) {

    .container{  margin: 0px 2vw;   }

}

/* XS _________________________________________________________________________________*/
@media (max-width: 575.98px) {

    .container{  margin: 0px 1vw;   }
}